<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--This .config file was added to help protect sensitive data from being viewed in the app, repo, or general source control.-->
  <!--Because the file attribute on the appSettingks in the web.config, these sections will be merged together at runtime
  by the .NET Framework. For the file attribute to work, this config file should only contain infor about appSettings.-->

  <add key="EmailClient" value="mail.michaelrussell.net"/>

  <add key="EmailUser" value="no-reply@michaelrussell.net"/>

  <add key="EmailPass" value="SpaceForce1!"/>

  <add key="EmailTo" value="mikeprussell@outlook.com"/>

</appSettings>
