@{
    ViewBag.Title = "Home Page";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('~/Content/assets/img/skyline.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Michael Russell</h1>
                    <span class="subheading">MBA, CFP®</span>
                    <span class="subheading">Junior Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <!-- Post preview-->
        <div class="post-preview">
            <div class="clearfix">
                <img id="profilePic" src="~/Content/assets/img/headshot.jpg" hheight="400" width="400" alt: Michael Russell />
                <a href="Projects.html">
                    <h2 class="post-title" id="top-padding">Check out my projects</h2>
                </a>
                <p>
                    Driven junior developer with a financial background and a proven track record of exceeding performance goals. Accomplished in solving complex problems and identifying opportunities to improve processes. Demonstrated ability in handling sensitive client and company financial information. Recognized by colleagues as an excellent communicator with a high-level of attention to detail.
                </p>
            </div>
        </div>
    </div>
</div>