
@{
    ViewBag.Title = "Links";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../../Content/assets/img/links.jpg');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Links</h1>
                    <span class="subheading">Links below to my classmates individual sites.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div>
    <div class="container px-4 center-content">
        <p>Links to my Centriq cohorts personal sites.</p>
        <div class="cohort-links row center-content">
            <div class="col">
                <img src="~/Content/assets/img/william-mccarty.jpg" />
                <a href="http://www.william-mccarty.com" class="float-right">William McCarty's Personal Site</a>
            </div>
            <div class="col">
                <img src="~/Content/assets/img/amanda-allen.jpg" />
                <a href="http://www.amandaallen.net" class="float-right">Amanda Allen's Personal Site</a>
            </div>
        </div>
        <div class="cohort-links row center-content">
            <div class="col">
                <img src="~/Content/assets/img/jacob-roelofsz.jpg" />
                <a href="http://www.jacobroelofsz.com" class="float-right">Jacob Roelofsz's Personal Site</a>
            </div>
            <div class="col">
                <img src="~/Content/assets/img/ashley-smith.jpg" />
                <a href="http://d2107asmith-001-site1.mysitepanel.net/" class="float-right">Ashley Smith's Personal Site</a>
            </div>
        </div>
        <div class="cohort-links row center-content">
            <div class="col">
                <img src="~/Content/assets/img/corey-anderson.jpg" />
                <a href="http://www.coreymanderson.com/" class="float-right">Corey Anderson's Personal Site</a>
            </div>
            <div class="col">
                <img src="~/Content/assets/img/caleb-mitchell.jpg" />
                <a href="http://www.c-mitchell.com" class="float-right">Caleb Mitchell's Personal Site</a>
            </div>
        </div>
    </div>
</div>

