
@{
    ViewBag.Title = "Projects";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../../Content/assets/img/projects.jpg');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Projects List</h1>
                    <!--<h2 class="subheading"></h2>-->
                    <span class="meta">
                        HTML, CSS, JavaScript, C#, SQL, and VisualStudio
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4">
                <a href="http://www.fince.michaelrussell.net/">
                    <h4>Small Business Project - FinCE</h4>
                </a>
                <iframe src="http://www.fince.michaelrussell.net/" height="300" width="400" scrolling="no" title="Iframe Example"></iframe>
            </div>
        </div>
    </div>
</article>

