
@{
    ViewBag.Title = "Resume";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../../Content/assets/img/resume.jpg');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Resume</h1>
                    <span class="subheading">Junior developer with a financial services background.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="post-title">Professional Experience</h2>
                <div class="work-exp">
                    CREATIVE PLANNING, INC., Overland Park, KS
                    Financial Planner, January 2021 - May, 2021
                </div>
                <div class="work-exp">
                    CREATIVE PLANNING, INC., Overland Park, KS
                    Senior Investment Manager - Team Manager, June 2015-January 2021
                </div>
                <div class="work-exp">
                    THE MUTUAL FUND STORE & SMART401k, Overland Park, KS
                    Investment Advisor/Trading Support Specialist, November 2011-June 2015
                </div>
                <br />
                <h2 class="post-title">Education</h2>
                <div class="work-exp">
                    Centriq, Full Stack Developer Program, expected completion Oct. 2021
                </div>
                <div class="work-exp">
                    Master of Business Administration, Baker University, Overland Park, KS, (GPA 3.93)
                </div>
                <div class="work-exp">
                    Bachelor of Science, Management Information Systems, Park University, Parkville, MO, (GPA 3.9)
                </div>
                <div class="work-exp">
                    Bachelor of Science, Business, Emporia State University, Emporia, KS, (GPA 3.55)
                </div>
                <br />
                <h2 class="post-title">Certifications & Honors</h2>
                <div class="work-exp">
                    <a href="https://certificates.cfp.net/684be47f-423b-4bff-a373-47e7cd566933" class="subheading">
                        CERTIFIED FINANCIAL PLANNER&#153 certification - <strong>click to view</strong>
                    </a>
                </div>
                <div class="work-exp">
                    <a href="https://adviserinfo.sec.gov/individual/summary/6284115">FINRA Series 65 license - <strong>click to view</strong></a>
                </div>
                <div class="work-exp">
                    Soldier of the Month, March 2008, Operation Iraqi Freedom
                </div>
            </div>
        </div>
    </div>
</div>

